menu "NN_ModelInference Application Configurations"

config APP_OD_PROFILE_ENABLED
    bool "Application profiling enable"
    default n

config APP_OD_USING_HYPERRAM
    bool "Using hyperram for model"
    default n

config APP_OD_MODEL_FROM_SD
    bool "Load model from SD card enable"
    default n
    select APP_OD_USING_HYPERRAM

endmenu
source "Kconfig.zephyr"